<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <!-- responsive navbar -->
    <div id="navbar-container" class="px-6 w-full">
      <div class="navbar bg-base-100 border-b-4 border-neutral rounded-sm">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16"
                />
              </svg>
            </label>
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 border-2 border-primary-focus"
            >
              <li>
                <a>Theme</a>
                <ul class="p-2">
                  <li><a href="/lego/sets?theme=technic">Technic</a></li>
                  <li>
                    <a href="/lego/sets?theme=supplemental">Supplemental</a>
                  </li>
                  <li><a href="/lego/sets?theme=basic%20set">Basic Set</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <a class="btn btn-ghost normal-case text-xl mx-4" href="/"
            >Lego Collection</a
          >
          <span><a class="btn" href="/about">About</a></span>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li tabindex="0">
              <details>
                <summary>Theme</summary>
                <ul class="p-2 border-2 border-primary-focus rounded-md">
                  <li><a href="/lego/sets?theme=technic">Technic</a></li>
                  <li>
                    <a href="/lego/sets?theme=supplemental">Supplemental</a>
                  </li>
                  <li><a href="/lego/sets?theme=basic%20set">Basic Set</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <!-- hero component -->
      <div class="hero h-screen md:h-96 md:w-3/4 md:m-8 md:rounded-lg">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">404</h1>
            <p class="mb-5">Not Found :c</p>
            <a href="/" class="btn btn-primary">Back to Home!</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
