<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>About</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <!-- responsive navbar -->
    <%- include('partials/navbar', {page: '/about'}) %>
    <div class="flex justify-center">
      <!-- hero component -->
      <div
        class="hero h-screen md:h-96 md:w-3/4 md:m-8 md:rounded-lg"
        style="background-image: url(/img/about-hero.jpg)"
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">About me</h1>
            <p class="mb-5">
              I see you are a curious sort!<br />
              Have it your way, look below for some infotmation
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- grid system -->
    <div class="container mx-auto mt-8 flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- <div class="hero" style="background-image: url(/img/about-col.jpg); min-height: 400px;"></div> -->
        <div
          class="rounded-xl m-8 shadow-xl"
          style="
            background-image: url(img/about-col.jpg);
            background-position: center;
            background-size: cover;
            min-height: 400px;
          "
        ></div>
        <div
          class="m-8 p-4 rounded-xl border-2 border-red-500 bg-primary-content"
        >
          Frankly, I can't come up with anything right now, so enjoy the
          <b>LOREM</b>! <br /><br />
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro ab
          ducimus amet odio atque in qui mollitia officiis itaque. Numquam sunt
          nihil laudantium dolorem adipisci, assumenda vero ex iure expedita
          illum, commodi fugiat. Natus animi nulla maxime sint aspernatur,
          blanditiis consequuntur consequatur vero qui dolor reprehenderit
          dignissimos sequi culpa rerum magnam ut enim dolorem architecto
          excepturi nemo. Delectus non accusantium exercitationem obcaecati
          dolor, reiciendis fugit. At, temporibus accusamus animi aliquam
          consectetur obcaecati est laboriosam necessitatibus fugiat nihil qui
          eos nulla fuga accusantium velit autem quo? Itaque reiciendis pariatur
          sequi impedit libero, eveniet vitae. Minus error odio quae harum
          consectetur laborum.
        </div>
      </div>
    </div>
  </body>
</html>
